{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{%block main%}
{{ super() }}
<div class="container sources mt-4">
    <div class="my-5">
        <form class="search-container">
            <div class="query-input">
                <input id="search-box" type="text" class="search-box" name="query" placeholder="Search Specifics" />
                <label for="search-box"></label>
            </div>
            <div>
                <input type="submit" id="search-submit" value="SEARCH" />
            </div>
        </form>
    </div>
    <div class="healine">
    <img src="{{ url_for('static', filename='images/martin-sanchez-Tzoe6VCvQYg-unsplash.jpg')}}">
    <img src="{{ url_for('static', filename='images/thomas-de-luze-w3hHYb2e86U-unsplash.jpg')}}">
    <img src="{{ url_for('static', filename='images/connor-coyne-OgqWLzWRSaI-unsplash.jpg')}}">
    <img src="{{ url_for('static', filename='images/thisisengineering-raeng-w_zE6qlkQKA-unsplash.jpg')}}">
    </div>
    <hr>          
    {% for category in categories %}
    <h5 class="my-3 category">{{category[0].src_category.upper()}}</h5>
    <hr>
    <div class="source-list">
        {{ macro.displaySources(category) }}
        <hr>
    </div>
    {%endfor%}
</div>
{%endblock%}